body {
    background: #EBECF0
}

p {
    color: white;
    font-style: oblique;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    text-shadow: 1.5px 1.5px black
  }